<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <httpRuntime enableVersionHeader="false" targetFramework="4.6" maxRequestLength="999999999" requestValidationMode="2.0" />
    <customErrors defaultRedirect="Pages/ErrorPage.aspx?request=SessionTimeOut" mode="On">
      <error statusCode="404" redirect="Pages/ErrorPage.aspx?request=SessionTimeOut" />
    </customErrors>
    
    <compilation debug="true" targetFramework="4.6" />
    <pages validateRequest="false" />
    <sessionState timeout="420"></sessionState>
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-Content-Type-Options" value="nosniff" />
                             <add name="x-dns-prefetch-control" value="off" />
                             <add name="x-frame-controls" value="SAMEORIGIN" />
                             <add name="Strict-Transport-Security" value="Strict-Transport-Security: max-age=31536000; includeSubDomains" />
        <!--<add name="Content-Security-Policy" value="default-src 'self'" />value="frame-ancestors 'none'" />-->
        <add name="X-Xss-Protection" value="1; mode=block" />
      </customHeaders>

    </httpProtocol>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
     <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="1048576000" />
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
		  </requestFiltering>
	  </security>
  </system.webServer>
  <appSettings>
    
    
    
    
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!--<jsonSerialization maxJsonLength="900000" />-->
        <jsonSerialization maxJsonLength="999999999" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="mServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      
    </client>
  </system.serviceModel>
  <applicationSettings>
    
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
